.header {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f4f4;
  border: 2px solid #800020;
  border-radius: 60px; /* more rounded */
  padding: 20px 40px; /* bigger padding */
  z-index: 1000;
  width: fit-content; /* stays wrapped around content */
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 2px;
  padding: 2px;
}
.link {
  text-decoration: none;
  background-color: #f9f4f4;
  color: #333;
  border: 2px solid transparent; /* 👈 reserve space */
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 400;
  font-size: 21px;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* animate border color */
  margin-left: 20px;
}

.link:hover {
  color: #800020;
  background-color: #fce8ef;
  border-color: #800020; /* 👈 only change color */
}

.button {
  background-color: #800020;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 400;
  font-size: 21px;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.button:hover {
  background-color: #f9f4f4;
  color: #800020;
  border: 2px solid #800020;
  border-color: #800020;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
