body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat), sans-serif;
  background: linear-gradient(to bottom right, #fbeaec, #ffffff);
  min-height: 100vh;
}

/* Add this */
html {
  scroll-behavior: smooth;
}
